{% extends "network/layout.html" %}

{% block body %}

    {% block new_post %} {% include 'network/new_post.html' %} {% endblock %}

    <div class="p-3 border rounded bg-light">
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="user_name mb-1" data-user-id="{{ post.created_by.id }}" >{{ post.created_by }}</h5>
                            <p class="mb-1">{{ post.new_post }}</p>
                            <small class="text-muted">Date Created: {{ post.date_created }}</small>
                        </div>
                        <div>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" >
                            <button class="btn btn-outline-danger like_button" data-post-id="{{ post.id }}" 
                                    {% if user == post.created_by or not user.is_authenticated %}disabled{% endif %}>
                                ❤️ <small>{{ post.likes }}</small>
                            </button>
                        </div>                     
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    
{% endblock %}



